@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

p {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: #473452;
}

h1 {
  width: 100%;
}

h2 {
  font-size: 42px;
  font-family: "Bellota", cursive;
  color: #473452;
}

h3 {
  width: 100%;
  text-align: center;
}

#firstImage {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  z-index: 200;
}

.navMenu {
  height: 115px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.navMenu .navUl {
  list-style: none;
  height: 100%;
  width: 75%;
  display: flex;
  padding-left: 10%;
  align-items: center;
}
.navMenu .navUl .navButton {
  text-transform: uppercase;
  width: auto;
  padding: 0 20px;
}
.navMenu .navUl .navButton .logoTxt {
  height: 115px;
}

.header {
  padding-top: 125px;
  height: 365px;
}
.header .leftImg {
  position: absolute;
  height: 15%;
  z-index: 10;
}
.header .headerContener {
  width: 650px;
  margin-left: 10%;
  height: 100%;
}
.header .headerContener h3 {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
}
.header .headerContener h1 {
  color: #1e2528;
  font-size: 50px;
  font-family: "Bellota", cursive;
}
.header .headerContener p {
  color: #555;
  text-align: left;
}
.header .headerContener .reff {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.header .headerContener .reff .squareButton {
  padding: 14px 20px;
  color: white;
  background-color: #1ba4ce;
}
.header .headerContener .reff .borders {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 5px;
  height: 46px;
  width: 46px;
  border: 1px solid;
  border-radius: 45px;
}
.header .headerContener .reff .borders .icon-play {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  transform: scale(0.4);
}

.photoGalery {
  padding-top: 30px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.photoGaleryImg {
  width: 100%;
  height: 100%;
}

.photoGaleryReff {
  width: 25%;
  height: 100%;
}

.button {
  background-color: #1ba4ce;
  padding: 14px 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.blackButton {
  background-color: #30383b;
}

.article {
  margin-top: 100px;
}
.article .contener {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
.article .contener .text {
  font-weight: 300;
  color: #888888;
}
.article .contener #extraText {
  color: #473452;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.servicesContener {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 1094px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}
.servicesContener .services {
  border: 1px solid;
  width: 30%;
  text-align: center;
  padding: 30px;
}
.servicesContener .services .servicesImg {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.servicesContener .services .servicesP {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 15px;
}

.teamContener {
  display: flex;
  flex-wrap: wrap;
  width: 1094px;
  margin-left: auto;
  margin-right: auto;
  height: 577px;
  justify-content: space-evenly;
}

.teamArticle {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 650px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 33.3%;
  position: relative;
  justify-content: flex-end;
}

.teamImg {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.contactWithStaf {
  left: 50%;
  transform: translateX(17%);
  width: 75%;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: white;
  z-index: 1;
  text-align: center;
  padding: 10px 0;
  transition: transform 0.3s ease;
}

.contactWithStaf:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment {
  width: 100%;
  height: 600px;
  background-color: #1ba4ce;
  margin: auto;
  color: white;
}
.appointment .contener {
  display: flex;
  height: 100%;
}
.appointment .contener .leftSide {
  height: 100%;
}
.appointment .contener .leftSide .appointmentImg {
  width: 100%;
  height: 100%;
}
.appointment .contener .appointmentForm {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}
.appointment .contener .appointmentForm .formField {
  color: white;
  background-color: #1ba4ce;
  border: none;
  border-bottom: white solid 1px;
  margin: 10px;
  width: 45%;
}
.appointment .contener .appointmentForm #textArea {
  width: 93%;
}
.appointment .contener .appointmentForm .submit {
  margin-top: 15px;
  border: 0px;
  margin-left: 0px;
  background-color: white;
  color: black;
}

.newsLetter {
  width: 100%;
  background-color: #1ba4ce;
  text-align: center;
  margin: auto;
  color: white;
}
.newsLetter .header {
  margin: auto;
  max-width: 1000px;
}
.newsLetter .contener {
  margin: auto;
  max-width: 1000px;
  padding-bottom: 100px;
  display: flex;
}
.newsLetter .contener .leftSide {
  width: 40%;
}
.newsLetter .contener .leftSide .contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.newsLetter .contener .leftSide .contact .logo {
  padding-left: 10%;
  padding-right: 15px;
}
.newsLetter .contener .leftSide .contact .logo #logoSize {
  scale: 1;
}
.newsLetter .contener .leftSide .contact .contactText {
  text-transform: uppercase;
  text-align: left;
}
.newsLetter .contener .rightSide {
  width: auto;
  text-align: left;
}
.newsLetter .contener .rightSide .formField {
  width: 100%;
  padding: 15px;
}
.newsLetter .contener .rightSide .submit {
  margin-top: 15px;
  margin-right: 5px;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer .logoContener {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.footer .logoContener .logoTxt {
  height: 115px;
}
.footer .navUl {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .navUl .navButton {
  text-transform: uppercase;
  width: auto;
  padding: 0 20px;
}/*# sourceMappingURL=style.css.map */