.footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

    .logoContener {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;

        .logoTxt {
            height: 115px;
        }
    }

    .navUl {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .navButton {
            text-transform: uppercase;
            width: auto;
            padding: 0 20px;

        }
    }
}