#motto{
    text-transform: uppercase;
    text-align: left;
}

#headerP{
    text-align: left;
}

.header{
    padding-top: 125px;
    height: 365px;
}

.headerContener{
    width: 650px;
    margin-left: 10%;
    height: 100%;
}

.leftImg{
    position: absolute;
    height: 15%;
    z-index: 10;
}

.squareButton{
    background-color: blue;
    padding: 14px 20px;
    color: white;
}
.reff{
    align-items: center;
    @include flexbox;
}
.icon-play{  
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.borders{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 5px;
    height: 46px;
    width: 46px;
    border: 1px solid;
    border-radius: 45px;
}