.navMenu {
    height: 115px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding-bottom: 30px;
    .navUl {
        list-style: none;
        height: 100%;
        width: 75%;
        display: flex;
        padding-left: 10%;
        align-items: center;

        .navButton {
            text-transform: uppercase;
            width: auto;
            padding: 0 20px;

            .logoTxt {
                height: 115px;
            }
        }
    }
}