.photoGalery {
    width: 100%;
    @include flexbox;
    position: relative;

    .photoGaleryReff {
        width: 25%;
        height: auto;

        @media(max-width: 992px) {
            width: 50%;
        }
    }

    .photoGaleryImg {
        width: 100%;
        height: auto; 
        display: block;
    }

    .photoOverlay {
        width: 25%;
        height: 100%;
        top: 0;
        background-color: rgba(27, 164, 206, 0.6);
        position: absolute;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: all .3s;

        h3 {
            color: #fff;
            font-family: "Bellota", cursive;
        }

        @media(max-width: 992px) {
            width: 50%;
            height: 50%;
            #photoOverlayThr{
                top: 50%;
            }
        }
    }

    .photoOverlay:hover {
        opacity: 0.8
    }
}