.servicesContener {
    align-items: center;
    @include flexbox;
    width: 1094px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: space-evenly;

    .services {
        border: 1px solid;
        width: 30%;
        text-align: center;
        padding: 30px;

        .servicesImg {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }

        h3 {}

        .servicesP {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            padding-bottom: 15px;
        }

        
    }
}