.article {
    margin-top: 100px;

    .contener {

        text-align: center;
        max-width: 1000px;
        margin: auto;
        .text {
            font-weight: 300;
            color: #888888;
        }
    
        #extraText {
            color: #473452;
            text-transform: uppercase;
            letter-spacing: 2px;       
        }
    }

    
}