* {
    box-sizing: border-box;
}

img {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

p {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: #473452;
}

h1 {
    width: 100%;
}

h2{
    font-size: 42px;
    font-family: "Bellota", cursive;
    color: #473452;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
}

